<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHFIqVBq2DUzc6sMfxPTB82kuShDbiC1A</string>
	<key>GCM_SENDER_ID</key>
	<string>503669829101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instapp</string>
	<key>PROJECT_ID</key>
	<string>insdogria-51ed1</string>
	<key>STORAGE_BUCKET</key>
	<string>insdogria-51ed1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503669829101:ios:629c71165f9232daec4be4</string>
</dict>
</plist>